.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 75px repeat(7, 100px);
  gap: 1px;
  padding: 0 10px;
  width: fit-content;

  div {
    place-content: center;
    text-align: center;
    grid-column: span 1;
  }

  .grid-hours {
    display: flex;
    height: 75px;
    place-self: end;
    border-right: 1px solid #ddd;

    .grid-empty {
      width: 100px;
      border: none;
      background-color: transparent;
    }

    .grid-hour {
      width: 60px;
      background-color: #e9e9e9;
      border: 1px solid #ddd;
    }
  }

  .grid-days {
    display: flex;
    border: 1px solid #ddd;

    .grid-day {
      width: 100px;
      font-weight: bold;
      background-color: #e9e9e9;
      border: 1px solid #ddd;
    }

    .grid-hour-of-day {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fffefe;
      border: 1px solid #ddd;

      .grid-dot {
        border-radius: 50%;
        background-color: blue;
      }
    }
  }
}
