.App {
  background: rgb(195, 220, 248) 100%;
  height: 100vh;

  .title {
    font-weight: 800;
    font-size: x-large;
    text-align: center;
    margin: 0 auto 20px auto;
    padding-top: 10px;
  }

  .footer {
    padding-top: 3px;
    font-size: x-small;
    text-align: center;
    font-style: italic;
  }
}
