:root {
  --pin-color: orange;
  --insta-color: pink;
  --youtube-color: red;
  --article-color: green;
  --tweet-color: lightblue;
  --facebook-color: blue;
  --tiktok-color: black;
  --twitch-color: purple;
}
